{% extends 'base.html.twig' %}

{% block head %}
<meta charset="UTF-8">
<meta name="description" content="Connectez-vous à votre compte membre du Judo Club d'Isbergues pour accéder à nos services et informations exclusives.">
<meta name="keywords" content="connexion, judo, club, Isbergues, se connecter, espace membre, compte utilisateur">
<meta property="og:type" content="website">
<meta property="og:title" content="Connexion | Judo Club d'Isbergues">
<meta property="og:description" content="Accédez à votre espace membre du Judo Club d'Isbergues pour consulter les activités et informations exclusives après vous être connecté.">
<meta property="og:image" content="{{ asset('asset/img/logo.jpg') }}">
<meta property="og:url" content="{{ app.request.uri }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Connexion | Judo Club d'Isbergues">
<meta name="twitter:description" content="Connectez-vous à votre compte du Judo Club d'Isbergues et accédez à des contenus exclusifs pour les membres.">
<meta name="twitter:image" content="{{ asset('asset/img/logo.jpg') }}">
{% endblock %}


{% block title %}Connexion | Judo Club D'Isbergues{% endblock %}

{% block body %}
<div class="container mt-5" data-aos="fade-up" data-aos-duration="1000">
    <h1 class="h3 mb-3 font-weight-normal text-center" data-aos="fade-down" data-aos-duration="1500">Connexion</h1>
<p class="text-center lead" data-aos="fade-up" data-aos-duration="1200">
    Connectez-vous pour accéder à votre espace personnel, suivre vos performances et rester informé des actualités du judo club d'Isbergues !
</p>
    {% if error %}
        <div class="alert alert-danger" data-aos="fade-in" data-aos-duration="1000">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3" data-aos="fade-in" data-aos-duration="1000">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }},
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <form method="post" class="bg-light p-4 rounded shadow-sm" data-aos="zoom-in" data-aos-duration="1200">
        <div class="form-group mb-3" data-aos="fade-up" data-aos-duration="1500">
            <label for="inputAdressemail">Votre email</label>
            <input type="email" value="{{ last_username }}" name="adressemail" id="inputAdressemail" class="form-control" autocomplete="email" required autofocus>
        </div>

        <div class="form-group mb-3" data-aos="fade-up" data-aos-duration="1500">
            <label for="inputPassword">Votre mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-check mb-3" data-aos="fade-up" data-aos-duration="1500">
            <input type="checkbox" name="_remember_me" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
        </div>

        <hr>

        <button class="custom-btn" type="submit" data-aos="fade-up" data-aos-duration="1500">
            Se connecter
        </button>
         <a class="btn btn-light custom-btn01" href="{{ path('app_reset_password') }}">Mot de passe oublier</a>
    </form>
          
</div>

{% endblock %}
