{% extends 'base.html.twig' %}

{% block head %}
	<meta charset="UTF-8">
	<meta name="description" content="Découvrez le bureau du Judo Club d'Isbergues. Rencontrez les membres clés de notre équipe, de notre président à notre développeur web, en passant par l'entraîneur, le trésorier et d'autres responsables.">
	<meta name="keywords" content="bureau judo club isbergues, équipe club judo, président judo, trésorier judo, entraîneur judo, secrétaire club, photographe judo, développeur web club">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Le Bureau | Judo Club d'Isbergues">
	<meta property="og:description" content="Découvrez l'équipe dirigeante du Judo Club d'Isbergues, composée du président, trésorier, entraîneur et autres membres essentiels qui font vivre notre club.">
	<meta property="og:image" content="{{ asset('asset/img/logo.jpg') }}">
	<meta property="og:url" content="{{ app.request.uri }}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Le Bureau | Judo Club d'Isbergues">
	<meta name="twitter:description" content="Rencontrez l'équipe dirigeante du Judo Club d'Isbergues : président, trésorier, entraîneur et bien d'autres acteurs essentiels du club.">
	<meta name="twitter:image" content="{{ asset('asset/img/logo.jpg') }}">
{% endblock %}


{% block title %}Le Bureau | Judo Club D'isbergues
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h2 class="text-center mb-4">Notre Bureau</h2>
		<div
			class="row justify-content-center">
			<!-- Carte Président -->
			<div class="col-md-4 mb-4" data-aos="fade-up" data-aos-duration="1000">
				<div class="card">
					<img src="{{ asset('asset/img/imgbureau/president.png') }}" class="card-img-top" alt="Président">
					<div class="card-body">
						<h5 class="card-title">Président</h5>
						<p class="card-text">Frédéric Couvreur<br>
							- Description brève de ses responsabilités et de son rôle dans le club.</p>
					</div>
				</div>
			</div>

			<!-- Carte Trésorier -->
			<div class="col-md-4 mb-4" data-aos="fade-up" data-aos-duration="1200">
				<div class="card">
					<img src="{{ asset('asset/img/imgbureau/tresorier.png') }}" class="card-img-top" alt="Trésorier">
					<div class="card-body">
						<h5 class="card-title">Trésorier</h5>
						<p class="card-text">Gregory Dethilloy
							<br>
							- Description brève de ses responsabilités liées à la gestion financière du club.</p>
					</div>
				</div>
			</div>

			<!-- Carte Entraîneur -->
			<div class="col-md-4 mb-4" data-aos="fade-up" data-aos-duration="1400">
				<div class="card">
					<img src="{{ asset('asset/img/imgbureau/entraineur.jpg') }}" class="card-img-top" alt="Entraîneur">
					<div class="card-body">
						<h5 class="card-title">Entraîneur</h5>
						<p class="card-text">Philippe Coubronne
							<br>- Description brève de ses responsabilités concernant l'enseignement et l'accompagnement des membres.</p>
					</div>
				</div>
			</div>

			<!-- Carte Secrétaire -->
			<div class="col-md-4 mb-4" data-aos="fade-up" data-aos-duration="1600">
				<div class="card">
					<img src="{{ asset('images/secretary.jpg') }}" class="card-img-top" alt="Secrétaire">
					<div class="card-body">
						<h5 class="card-title">Secrétaire</h5>
						<p class="card-text">Pascale Couvreur-Bizet
							<br>
							- Description brève de ses responsabilités administratives et organisationnelles.</p>
					</div>
				</div>
			</div>

			<!-- Carte Photographe -->
			<div class="col-md-4 mb-4" data-aos="fade-up" data-aos-duration="1800">
				<div class="card">
					<img src="{{ asset('asset/img/imgbureau/photographe.jpg') }}" class="card-img-top" alt="Photographe">
					<div class="card-body">
						<h5 class="card-title">Photographe</h5>
						<p class="card-text">Chloé Coubronne
							<br>
							- Description brève de son rôle dans la captation des moments clés du club.</p>
					</div>
				</div>
			</div>

			<!-- Carte Webdesigner -->
			<div class="col-md-4 mb-4" data-aos="fade-up" data-aos-duration="2000">
    <div class="card">
        <img src="{{ asset('asset/img/imgbureau/devweb.png') }}" class="card-img-top" alt="Webdesigner">
        <div class="card-body">
            <h2 class="card-title">Développeur web</h2>
           <h3>Carette Axel</h3>
                
				 <p class="card-text">
                
                - En charge de la conception et du développement du site web du club, assurant sa fonctionnalité, son design et son accessibilité.
                <br>
                Il veille à l'optimisation de l'expérience utilisateur et à la gestion de l'image du club en ligne, tout en maintenant une communication fluide et moderne avec les membres.
            </p>
            <a href="https://www.linkedin.com/in/axel-carette-dev/" target="_blank" class="btn btn-primary">Voir son profil LinkedIn</a>
        </div>
    </div>
</div>

	</div>

{% endblock %}
