{% extends 'base.html.twig' %}

{% block head %}
<meta charset="UTF-8">
<meta name="description" content="Explorez les albums photo du Judo Club Isbergues. Découvrez nos événements, compétitions et moments forts à travers des images partagées avec notre communauté.">
<meta name="keywords" content="Judo Club Isbergues, albums photo, compétitions, événements judo, photos judo, arts martiaux, Isbergues">
<meta property="og:type" content="website">
<meta property="og:title" content="Albums | Judo Club Isbergues">
<meta property="og:description" content="Découvrez les albums photos du Judo Club Isbergues. Des images exclusives de nos événements, compétitions et moments mémorables du club.">
<meta property="og:image" content="{{ asset('asset/img/logo.jpg') }}">
<meta property="og:url" content="{{ app.request.uri }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Albums | Judo Club Isbergues">
<meta name="twitter:description" content="Explorez les albums photos du Judo Club Isbergues pour revivre nos événements, compétitions et autres moments marquants du club.">
<meta name="twitter:image" content="{{ asset('asset/img/logo.jpg') }}">
{% endblock %}


{% block title %}Albums |Judo CLub D'Isbergues{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4" data-aos="fade-down">Albums publiés</h1>

        {% if albums is not empty %}
            <div class="row">
                {% for album in albums %}
                    <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="{{ loop.index0 * 100 }}">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title text-center">{{ album.name }}</h5>
                                {% if album.PhotosDeCouverture %}
                                    <img src="{{ asset('asset/img/photodecouverture/' ~ album.PhotosDeCouverture) }}" alt="Photo de couverture" class="card-img-top" />
                                {% else %}
                                    <img src="{{ asset('path/to/default/cover.jpg') }}" alt="Photo de couverture par défaut" class="card-img-top" />
                                {% endif %}
                                <br>
                                
                                <a href="{{ path('app_album_photos', { id: album.id }) }}" class="btn btn-light custom-btn">
                                    Voir l'album
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center text-muted" data-aos="fade-in">Aucun album publié pour le moment.</p>
        {% endif %}
    </div>
{% endblock %}
