{% extends 'base.html.twig' %}

{% block title %}Photos de {{ album.name }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Photos de l'album : {{ album.name }}</h1>

        {% if photos is not empty %}
            <div class="row">
                {% for photo in photos %}
                    {% for url in photo.url %}
                        <div class="col-md-2 mb-4 d-flex justify-content-center" data-aos="fade-up">
                            <div class="photo-wrapper">
                                <img src="{{ asset('asset/img/photoChloe/' ~ url) }}" class="img-fluid rounded shadow" alt="{{ photo.description }}">
                                {% if photo.description %}
                                    <p class="text-center mt-2 text-muted">{{ photo.description }}</p>
                                {% endif %}
                            </div>
                        </div>
                        
                        {% if loop.index % 5 == 0 %}
                            </div><div class="row">
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center text-muted">Aucune photo publiée disponible pour cet album.</p>
        {% endif %}
    </div>
{% endblock %}
