{% extends 'base.html.twig' %}

{% block title %}Photos de {{ album.name }}{% endblock %}

{% block body %}
    <h1>Photos de l'album : {{ album.name }}</h1>

    {% if photos is not empty %}
        <div id="photoCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for photo in photos %}
                    {% for url in photo.url %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="{{ asset('asset/img/photoChloe/' ~ url) }}" class="d-block w-100 carousel-photo" alt="{{ photo.description }}">
                            <div class="carousel-caption d-none d-md-block">
                                <p>{{ photo.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% else %}
        <p>Aucune photo publiée disponible pour cet album.</p>
    {% endif %}
{% endblock %}
