{% extends 'base.html.twig' %}

{% block head %}
<meta charset="UTF-8">
<meta name="description" content="Découvrez et mettez à jour votre profil sur le site du Judo Club d'Isbergues. Vous pouvez modifier votre photo de profil, votre description et votre grade.">
<meta name="keywords" content="profil utilisateur, mise à jour profil, photo de profil, description, grade, Judo Club Isbergues">
<meta property="og:type" content="website">
<meta property="og:title" content="Profil de {{ prenom }} | Judo Club d'Isbergues">
<meta property="og:description" content="Accédez à votre profil sur le Judo Club d'Isbergues pour mettre à jour vos informations personnelles et suivre votre progression.">
<meta property="og:image" content="{{ asset(photoProfil ? photoProfil : 'asset/img/default-profile.jpg') }}">
<meta property="og:url" content="{{ app.request.uri }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Profil de {{ prenom }} | Judo Club d'Isbergues">
<meta name="twitter:description" content="Mettez à jour votre profil et consultez vos informations personnelles sur le Judo Club d'Isbergues.">
<meta name="twitter:image" content="{{ asset(photoProfil ? photoProfil : 'asset/img/default-profile.jpg') }}">
{% endblock %}

{% block title %}Profil de {{ prenom }}{% endblock %}

{% block body %}

<div class="profil-container">
    <div class="row justify-content-center align-items-start g-4"> <!-- Alignement vertical et espacement -->

        <div class="col-1"></div>

    
        <!-- Carte de profil -->
        <div class="col-5">
            <div class="profil-card {{ grade|replace({' ': ''}) }} mb-6"> <!-- Ajout d'une marge au bas de la carte -->
                <h3 class="profil-name">{{ prenom }}</h3>
                <div class="profil-photo">
                    {% if photoProfil %}
                        <div class="border-layer"></div>

                        <img src="{{ asset(photoProfil) }}" alt="Photo de profil" class="profil-img" />
                    {% else %}
                        <p>Aucune photo de profil</p>
                    {% endif %}
                </div>
                <div class="profil-info">
                    {% if grade %}
                    <div class="profil-grade">
                        <span class="grade">Grade : {{ grade }}</span>
                    </div>
                    {% endif %}
                    {% if description %}
                    <p class="profil-description">{{ description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-1"></div>
        
        <div class="col-5">
        
            <div class="profil-update-section mb-4">
                <h3>Mettre à jour votre profil</h3>
                {{ form_start(form) }}
                    <div class="form-group mb-3">
                        {{ form_row(form.photo, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form_row(form.grade, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <button type="submit" class="custom-btn">Mettre à jour</button>
                {{ form_end(form) }}
        </div>
            
            <a href="{{ path('app_utilisateur_changer_mdp') }}" class="profil-update-section  btn btn-light custom-btn">Modifier le mot de passe</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}" class="profil-update-section  btn btn-light custom-btn">Accéder à la section admin</a>
            {% endif %}
        </div>

    </div>
</div>


{% endblock %}
