{% extends 'base.html.twig' %}

{% block title %}Nos sponsors | Judo Club Isbergues{% endblock %}

{% block body %}
    <h1 class="page-title">Nos Sponsors</h1>
    <p class="text-align:center">Ici vous retrouvez nos sponsorts.</p>

    <div class="sponsors-list">
        {% for sponsor in sponsors %}
            <div class="sponsor-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <h2 class="sponsor-name">{{ sponsor.nomSponsors }}</h2>
                
                {% if sponsor.logoUrl %}
                    <div class="sponsor-logo">
                        <img src="{{ asset(sponsor.logoUrl) }}" alt="Logo de {{ sponsor.nomSponsors }}">
                    </div>
                {% endif %}
                
                <div class="sponsor-description">{{ sponsor.description | raw }}</div>
                
                {% if sponsor.liensiteweb %}
                    <a href="{{ sponsor.liensiteweb }}" class="sponsor-link" target="_blank">Visiter le site web</a>
                {% endif %}
            </div>
        {% else %}
            <p class="no-sponsor">Aucun sponsor trouvé.</p>
        {% endfor %}
    </div>
{% endblock %}
