{% extends 'base.html.twig' %}

{% block head %}
<meta charset="UTF-8">
<meta name="description" content="Découvrez nos sponsors qui soutiennent le Judo Club d'Isbergues. Explorez leurs logos, descriptions et visitez leurs sites web pour plus d'informations.">
<meta name="keywords" content="sponsors, partenaires, Judo Club, Isbergues, soutien, entreprises partenaires, sponsors judo">
<meta property="og:type" content="website">
<meta property="og:title" content="Nos Sponsors | Judo Club d'Isbergues">
<meta property="og:description" content="Nos sponsors soutiennent le Judo Club d'Isbergues. Découvrez leurs logos et accédez à leurs sites web pour plus d'informations.">
<meta property="og:image" content="{{ asset('asset/img/logo.jpg') }}">
<meta property="og:url" content="{{ app.request.uri }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Nos Sponsors | Judo Club d'Isbergues">
<meta name="twitter:description" content="Découvrez nos partenaires et sponsors du Judo Club d'Isbergues, avec des liens vers leurs sites web.">
<meta name="twitter:image" content="{{ asset('asset/img/logo.jpg') }}">
{% endblock %}

{% block title %}Nos sponsors | Judo Club Isbergues{% endblock %}

{% block body %}
    <h1 class="page-title">Nos Sponsors</h1>
    <p class="text-align:center">Ici vous retrouvez nos sponsorts.</p>

    <div class="sponsors-list">
        {% for sponsor in sponsors %}
            <div class="sponsor-card" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <h2 class="sponsor-name">{{ sponsor.nomSponsors }}</h2>
                
                {% if sponsor.logoUrl %}
                    <div class="sponsor-logo">
                        <img src="{{ asset(sponsor.logoUrl) }}" alt="Logo de {{ sponsor.nomSponsors }}">
                    </div>
                {% endif %}
                
                <div class="sponsor-description">{{ sponsor.description | raw }}</div>
                
                {% if sponsor.liensiteweb %}
                    <a href="{{ sponsor.liensiteweb }}" class="sponsor-link" target="_blank">Visiter le site web</a>
                {% endif %}
            </div>
        {% else %}
            <p class="no-sponsor">Aucun sponsor trouvé.</p>
        {% endfor %}
    </div>
{% endblock %}
