{% extends 'base.html.twig' %}

{% block title %}Nos sponsors | Judo Club Isbergues{% endblock %}

{% block body %}
<h1>Nos Sponsors</h1>

<div class="sponsors-list">
    {% for sponsor in sponsors %}
        <div class="sponsor">
            <h2>{{ sponsor.nomSponsors }}</h2>
            {% if sponsor.logoUrl %}
                <img src="{{ sponsor.logoUrl }}" alt="Logo de {{ sponsor.nomSponsors }}">
            {% endif %}
            <p>{{ sponsor.description }}</p>
            {% if sponsor.liensiteweb %}
                <a href="{{ sponsor.liensiteweb }}" target="_blank">Visiter le site web</a>
            {% endif %}
        </div>
    {% else %}
        <p>Aucun sponsor trouvé.</p>
    {% endfor %}
</div>
{% endblock %}
