{% extends 'base.html.twig' %}

{% block title %}Accueil | Judo Club Isbergues{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}
    <!-- Bannière en haut de page -->
    <div class="banner">
        <img src="{{ asset('asset/img/bannierejudo01.jpeg') }}" alt="Bannière Judo" class="banner-image">
    </div>

    <!-- Section Activités (Image à gauche, texte à droite) -->
    <section class="activities">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 col-md-10">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <img src="{{ asset('asset/img/technique.jpg') }}" alt="Technique" class="activity-image" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                        </div>
                        <div class="col-12 col-md-6 position-relative">
                            <div class="activities-content p-4" data-aos="fade-up" data-aos-offset="300" data-aos-duration="1000">
                                <h2>Nos activités :</h2>
                                <p>Nous vous proposons un large éventail <br> de disciplines et d'activités.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section Club (Texte à gauche, image à droite) -->
    <section class="club-values">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 col-md-10">
                    <div class="row">
                        <div class="col-12 col-md-6 position-relative">
                            <div class="club-values-content p-4" data-aos="fade-up" data-aos-offset="300" data-aos-duration="1000">
                                <h2>Notre club</h2>
                                <p>La politesse, le courage, la sincérité, l'honneur, la modestie, le respect, le contrôle de soi, l'amitié.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <img src="{{ asset('asset/img/bcpdemonde.jpg') }}" alt="Photo du club" class="club-image" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section Entraîneur (Image à gauche, texte à droite) -->
    <section class="coach">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 col-md-10">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <img src="{{ asset('asset/img/entraineur.jpg') }}" alt="Entraîneur" class="coach-image" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                        </div>
                        <div class="col-12 col-md-6 position-relative">
                            <div class="coach-content p-4" data-aos="fade-up" data-aos-offset="300" data-aos-duration="1000">
                                <h2>Notre entraîneur</h2>
                                <p>Pour la saison 2024, notre entraîneur :</p>
                                <p><strong>COUBRONNE Philippe</strong><br>Depuis de nombreuses années, Philippe partage avec générosité<br>son savoir, son expérience, et son amour pour le judo avec chacun d'entre nous.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
