{% extends 'base.html.twig' %}

{% block head %}
<meta charset="UTF-8">
<meta name="description" content="Inscrivez-vous en ligne au Judo Club d'Isbergues. Remplissez le formulaire d'inscription pour rejoindre notre club de judo, jujitsu et Taiso. Découvrez les conditions d'inscription et les informations nécessaires.">
<meta name="keywords" content="inscription judo club isbergues, rejoindre judo club, formulaire inscription judo, jujitsu, Taiso, inscription en ligne, club isbergues">
<meta property="og:type" content="website">
<meta property="og:title" content="Inscription | Judo Club Isbergues">
<meta property="og:description" content="Inscrivez-vous dès maintenant au Judo Club d'Isbergues. Complétez le formulaire d'inscription pour rejoindre nos cours de judo, jujitsu et Taiso.">
<meta property="og:image" content="{{ asset('asset/img/logo.jpg') }}">
<meta property="og:url" content="{{ app.request.uri }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Inscription | Judo Club Isbergues">
<meta name="twitter:description" content="Remplissez le formulaire d'inscription pour rejoindre le Judo Club d'Isbergues et profiter de nos cours de judo, jujitsu et Taiso.">
<meta name="twitter:image" content="{{ asset('asset/img/logo.jpg') }}">
{% endblock %}


{% block title %}Inscription | Judo Club Isbergues{% endblock %}

{% block body %}
<div class="container mt-5" data-aos="fade-up" data-aos-duration="1000">
    <h1 class="text-center mb-4" data-aos="fade-down" data-aos-duration="1500">Inscription sur le site du judo club d'Isbergues</h1>
    <div class="row justify-content-center">
    <div class="col-md-10">
        <p class="text-center lead" data-aos="fade-up" data-aos-duration="1200">
          Inscrivez-vous pour créer votre profil personnalisé, suivre vos progrès et rester connecté avec le judo club d'Isbergues !
        </p>
    </div>
</div>


    {% for message in app.session.flashbag().get('error') %}
        <div class="alert alert-danger" data-aos="fade-in" data-aos-duration="1000">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.session.flashbag().get('success') %}
        <div class="alert alert-success" data-aos="fade-in" data-aos-duration="1000">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row justify-content-center">
        <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1200">
            {{ form_start(form, {'attr': {'class': 'bg-light p-4 rounded shadow-sm'}}) }}

            <div class="form-group mb-3" data-aos="fade-up" data-aos-duration="1500">
                {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nom) }}
            </div>

            <div class="form-group mb-3" data-aos="fade-up" data-aos-duration="1500">
                {{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.prenom) }}
            </div>

            <div class="form-group mb-3" data-aos="fade-up" data-aos-duration="1500">
                {{ form_label(form.adressemail, 'Adresse Email', {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.adressemail, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.adressemail) }}
            </div>

            <div class="form-group mb-3" data-aos="fade-up" data-aos-duration="1500">
                {{ form_label(form.motdepasse.first, 'Mot de passe', {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.motdepasse.first, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.motdepasse.first) }}
            </div>

            <div class="form-group mb-3" data-aos="fade-up" data-aos-duration="1500">
                {{ form_label(form.motdepasse.second, 'Confirmer le mot de passe', {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.motdepasse.second, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.motdepasse.second) }}
            </div>

            <div class="form-group mb-3" data-aos="fade-up" data-aos-duration="1500">
                {{ form_label(form.grade, 'Grade', {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.grade, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.grade) }}
            </div>

            <div class="form-group mb-4" data-aos="fade-up" data-aos-duration="1500">
                {{ form_label(form.club, 'Club', {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.club, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.club) }}
            </div>

            <div class="form-group" data-aos="fade-up" data-aos-duration="1500">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-light custom-btn btn-block'}}) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
<br>


{% endblock %}
