{% extends 'base.html.twig' %}


{% block head %}
<meta charset="UTF-8">
<meta name="description" content="Découvrez les dernières actualités du Judo Club Isbergues : événements, résultats, et bien plus. Restez informé sur nos activités et notre club.">
<meta name="keywords" content="Judo Club Isbergues, actualités judo, événements judo, résultats judo, sports, arts martiaux, actualités, Isbergues">
<meta property="og:type" content="website">
<meta property="og:title" content="Actualités | Judo Club Isbergues">
<meta property="og:description" content="Restez à jour avec les dernières actualités du Judo Club Isbergues. Découvrez nos événements, résultats, et autres informations importantes pour nos membres.">
<meta property="og:image" content="{{ asset('asset/img/logo.jpg') }}">
<meta property="og:url" content="{{ app.request.uri }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Actualités | Judo Club Isbergues">
<meta name="twitter:description" content="Suivez les actualités du Judo Club Isbergues pour découvrir nos derniers événements, résultats et autres infos importantes.">
<meta name="twitter:image" content="{{ asset('asset/img/logo.jpg') }}">
{% endblock %}


{% block title %}Actualités | Judo club d'Isbergues
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="text-center mb-4" data-aos="fade-down">Actualités</h1>

		{% if actualites is not empty %}
			<div class="row">
				{% for actualite in actualites %}
					<div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="{{ loop.index0 * 100 }}">
						<div class="card h-100 shadow-sm">
							{% if actualite.image %}
								<img src="{{ asset('public/asset/img/imgactualite' ~ actualite.image) }}" class="card-img-top" alt="{{ actualite.Titre }}">
							{% endif %}
							<div class="card-body d-flex flex-column">
								<h5 class="card-title">{{ actualite.Titre }}</h5>
								<p class="card-text">{{ actualite.Contenu | slice(0, 150) }}...</p>
								<p class="text-muted">{{ actualite.datePublication|date('d/m/Y') }}</p>
								<a href="{{ path('app_actualite_detail', {'id': actualite.id}) }}" class="btn btn-primary mt-auto">Lire plus</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<p class="text-center text-muted">Aucune actualité publiée pour le moment.</p>
		{% endif %}
	</div>
{% endblock %}
